.container
{
    position: fixed;
    bottom: -100%;
    left: 50%;
    background-color: black;
    transform: translateX(-50%);
    display: flex;
    padding: 10px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(0,0,0,0.4) 0px 0px 16px;
    z-index: 999;
    align-items: center;
    animation: appear 3.7s ease-out forwards;
}
.content
{
    margin: 5px 10px;
}
@keyframes appear {
    0% 
    {
        bottom: -100%;
    }
    10.8%, 91.9%
    {
        bottom: 50px;
    }
    100%
    {
        bottom: -100%;
    }
}