.mainContainer
{
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "photo contact contact contact contact"
                         "languages other other other other"
                         "work work work work work"
                         "extras extras extras extras extras"
                         "lifeline lifeline lifeline lifeline lifeline"
                         "separator separator separator separator separator"
                         "planguages planguages dbases dbases dbases"
                         "backend backend frontend frontend frontend";
}
.centerText
{
    text-align: center;
}
.pageSeparator
{
    grid-area: separator;
    height: 212px;
}
.photo
{
    grid-area: photo;
    background-position: center;
    background-size: cover;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee344e;
}
.myPictureContainer
{
    width: 100%;
    border-radius: 50%;
    border: rgb(236, 235, 235) 5px solid;
    padding: 5px;
}
.myPicture
{
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f2f1f6;
    border-radius: 50%;
}
.myPicture::after
{
    content: "";
    display: block;
    padding-top: 100%;
}
.contact
{
    grid-area: contact;
    padding: 10px;
    text-align: center;
}
.languages
{
    grid-area: languages;
}
.work
{
    grid-area: work;
}
.other
{
    grid-area: other;
}
.extras
{
    grid-area: extras;
}
.lifeline
{
    grid-area: lifeline;
}
.squareGrid
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.squareGrid li
{
    margin: 10px;
}
.pLanguages
{
    grid-area: planguages;
}
.dbases
{
    grid-area: dbases;
}
.backend
{
    grid-area: backend;
}
.frontend
{
    grid-area: frontend;
}
@media screen and (min-width: 900px) {
    .mainContainer
    {
        width: 800px;
    }
}
@media screen and (min-width:  768px) {
    .mainContainer
    {
        grid-template-areas: "photo contact contact contact contact"
                         "languages other other other other"
                         "languages work work work work"
                         "languages extras extras extras extras"
                         "lifeline lifeline lifeline lifeline lifeline"
                         "separator separator separator separator separator"
                         "planguages planguages dbases dbases dbases"
                         "backend backend frontend frontend frontend";
    }
}